<%- contentFor('header') %>
Identify yourself!

<%- contentFor('body') %>
<form>
  <div class="mb-3">
    <label for="inputNickname" class="form-label">Nickname</label>
    <input type="text" id="inputNickname" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Play!</button>
</form>